body {
    background: red;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    background-color: goldenrod;
    padding: 15px;
    margin: yellow;
    border-radius: 30%;
}

#title {
    color: goldenrod;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: black;
}

.subtitle {
    color: goldenrod;
    font-size: 20px;
    font-style: italic;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.post_title {
    color: red;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: goldenrod;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    color: goldenrod;
    text-decoration: none;
}